<!-- src/components/modal.astro -->
<div class="modal fade" id="searchModal" tabindex="-1" aria-labelledby="searchModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <input type="text" class="form-control" id="searchInput" placeholder="Search here">
                <button type="button" class="btn-close ps-4" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body px-4" data-simplebar style="max-height: 400px; overflow-y: auto;">
                <h5 class="fw-bold py-2">Quick Page Links</h5>
                <ul class="list-unstyled">
                    <li class="pb-2">
                        <a href="" class="text-decoration-none">
                            <span class="text-dark d-block">Analytics</span>
                            <span class="text-muted d-block fs-7">/dashboards/dashboard1</span>
                        </a>
                    </li>
                    <li class="pb-2">
                        <a href="" class="text-decoration-none">
                            <span class="text-dark d-block">eCommerce</span>
                            <span class="text-muted d-block fs-7">/dashboards/dashboard2</span>
                        </a>
                    </li>
                    <li class="pb-2">
                        <a href="" class="text-decoration-none">
                            <span class="text-dark d-block">CRM</span>
                            <span class="text-muted d-block fs-7">/dashboards/dashboard3</span>
                        </a>
                    </li>
                    <li class="pb-2">
                        <a href="" class="text-decoration-none">
                            <span class="text-dark d-block">Contacts</span>
                            <span class="text-muted d-block fs-7">/apps/contacts</span>
                        </a>
                    </li>
                    <li class="pb-2">
                        <a href="" class="text-decoration-none">
                            <span class="text-dark d-block">Posts</span>
                            <span class="text-muted d-block fs-7">/apps/blog/posts</span>
                        </a>
                    </li>
                    <li class="pb-2">
                        <a href="" class="text-decoration-none">
                            <span class="text-dark d-block">Detail</span>
                            <span class="text-muted d-block fs-7">/apps/blog/detail/streaming-video-way-before-it-was-cool-go-dark-tomorrow</span>
                        </a>
                    </li>
                    <li class="pb-2">
                        <a href="" class="text-decoration-none">
                            <span class="text-dark d-block">Shop</span>
                            <span class="text-muted d-block fs-7">/apps/ecommerce/shop</span>
                        </a>
                    </li>
                    <li class="pb-2">
                        <a href="" class="text-decoration-none">
                            <span class="text-dark d-block">Modern</span>
                            <span class="text-muted d-block fs-7">/dashboards/dashboard1</span>
                        </a>
                    </li>
                    <li class="pb-2">
                        <a href="" class="text-decoration-none">
                            <span class="text-dark d-block">Dashboard</span>
                            <span class="text-muted d-block fs-7">/dashboards/dashboard2</span>
                        </a>
                    </li>
                    <li class="pb-2">
                        <a href="" class="text-decoration-none">
                            <span class="text-dark d-block">Contacts</span>
                            <span class="text-muted d-block fs-7">/apps/contacts</span>
                        </a>
                    </li>
                    <li class="pb-2">
                        <a href="" class="text-decoration-none">
                            <span class="text-dark d-block">Posts</span>
                            <span class="text-muted d-block fs-7">/apps/blog/posts</span>
                        </a>
                    </li>
                    <li class="pb-2">
                        <a href="" class="text-decoration-none">
                            <span class="text-dark d-block">Detail</span>
                            <span class="text-muted d-block fs-7">/apps/blog/detail/streaming-video-way-before-it-was-cool-go-dark-tomorrow</span>
                        </a>
                    </li>
                    <li class="pb-2">
                        <a href="" class="text-decoration-none">
                            <span class="text-dark d-block">Shop</span>
                            <span class="text-muted d-block fs-7">/apps/ecommerce/shop</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>