.iconbar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 250px;
  height: 100vh;
  background: #343a40;

  .brand-link {
    padding: .8rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-bottom: 1px solid #4b545c;

    .brand-image {
      float: left;
      width: auto;
      max-height: 33px;
      margin-top: -3px;
      margin-right: .5rem;
      margin-left: .8rem;
      line-height: .8;
    }
  }

  .nav-iconbar {
    padding-left: 0;
    margin: 0;
    list-style: none;

    .nav-item {
      width: 100%;

      .nav-link {
        display: flex;
        align-items: center;
        padding: .75rem 1rem;
        color: #c2c7d0;

        &:hover {
          color: #fff;
          background: rgba(255, 255, 255, .1);
        }

        &.active {
          color: #fff;
          background-color: rgba(255, 255, 255, .1);
        }

        i {
          width: 20px;
          margin-right: .5rem;
          font-size: 1.1rem;
        }

        p {
          margin: 0;
        }

        .badge {
          margin-left: auto;
        }
      }
    }
  }

  .user-panel {
    display: flex;
    align-items: center;
    padding: .5rem 1rem;
    border-bottom: 1px solid #4b545c;

    img {
      width: 2.1rem;
      height: 2.1rem;
      object-fit: cover;
    }

    .info {
      margin-left: .5rem;
      color: #c2c7d0;
    }
  }
}
