---
const year = new Date().getFullYear();
// import { initThemeToggler } from '../../../ts/util/index';
---

<footer class="app-footer">
  <!--begin::To the end-->
  <div class="float-end d-none d-sm-inline">Anything you want</div>
  <!--end::To the end-->
  <!--begin::Copyright-->
  <strong>
    Copyright &copy; 2014-{year}&nbsp;
    <a href="https://adminlte.io" class="text-decoration-none">AdminLTE.io</a>.
  </strong>
  All rights reserved.
  <button
    id="theme-toggler"
    class="btn btn-default"
    style="margin-left:20px; padding: 5px 10px; background-color: #f0f0f0; cursor: pointer; font-size: 16px; color: #333; transition: background-color 0.3s ease;"
  >
    <i id="theme-icon" class="bi"></i>
  </button>
  <!--end::Copyright-->

  <!-- Initialize Theme Toggler -->
  <script>
    import  {initThemeToggler}  from '../../../ts/util/index';
    initThemeToggler();
  </script>
</footer>
